{% extends 'base.html' %}

{% block contenido %}
<div class="container">
    <h1>Administrador</h1>
    <br> <hr>
    <div class="accordion" id="lugares">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Lugares
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#lugares">
            <div class="accordion-body">
              <div class="container mt-4">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Lugar</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in lugares %}
                        <tr>
                            <td>{{ l.id }}</td>
                            <td>{{ l.n_lugar }}</td>
                            <td>{{ l.d_lugar }}</td>
                            <td>Acciones</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            
            </div>
          </div>
        </div>

      </div>
</div>
{% endblock %}