<footer class="bg-light text-dark text-center py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h5>Contacto</h5>
              <p>
                  Agrendameinto de eventos ABC.
              </p>
              <p>
                  Correo Electrónico: <a href="mailto:admin@admin.com">info@admin.com</a>
              </p>
          </div>
          <div class="col-md-6">
              <h5>Síguenos en las redes sociales</h5>
              <ul class="list-unstyled list-inline social-icons">
                  <li class="list-inline-item">
                      <a href="#" class="text-dark">
                          <i class="fab fa-facebook"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="text-dark">
                          <i class="fab fa-twitter"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="text-dark">
                          <i class="fab fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="text-dark">
                          <i class="fab fa-instagram"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12">
              <p class="text-center">
                  &copy; 2023 Todos los derechos reservados | Eventos Internos
              </p>
          </div>
      </div>
  </div>
</footer>
