{% extends 'base.html' %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Agregar Nuevo Evento</h2>
                    <form method="POST" action="{{url_for('agenda.nuevo_evento')}}" enctype="multipart/form-data">
                        <div class="mb-3">
                            {{form.n_evento.label(class="form-label")}}
                            {{form.n_evento(class="form-control", size=100)}}
                        </div>
                        <div class="mb-3">
                            {{form.d_evento.label(class="form-label")}}
                            {{form.d_evento(class="form-control", size=200)}}
                        </div>
                        <div class="mb-3">
                            {{form.f_evento.label(class="form-label")}}
                            {{form.f_evento(class="form-control")}}
                        </div>
                        <div class="mb-3">
                            {{form.k_modalidad.label(class="form-label")}}
                            {{form.k_modalidad(class="form-select")}}
                        </div>
                        <div class="mb-3">
                            {{form.k_lugar.label(class="form-label")}}
                            {{form.k_lugar(class="form-control")}}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Agregar Evento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
